.tx-primary {
  color: var(--tx-primary);
}

.tx-secondary {
  color: var(--tx-secondary);
}

.wallpaper {
  background-image: var(--wp);
}

.bg-primary {
  background-color: var(--bg-sub);
}

.bg-secondary {
  background-color: var(--bg-main);
}

.m-l {
  font-size: 14vh;
}
.m-m {
  font-size: 5vh;
}
.m-s {
  font-size: 2vh;
}

.s-l {
  font-size: 6.3vh;
}
.s-m {
  font-size: 4vh;
}
.s-s {
  font-size: 1.8vh;
}
.s-ss {
  font-size: 1.6vh;
}

.ma-3 {
  margin-top: 3vh;
}

.ma-8 {
  margin-top: 8.5vh;
}

.ma-7 {
  margin-top: 7vh;
}

.p-4 {
  padding: 4vh;
}

.p-1 {
  padding: 1rem;
}

.py-11 {
  padding: 0 11vw;
}
